{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <p>
    A Little Playlist Maker - Version 5
  </p>
  <p>
    Created by Playlists Inc. Find us on:
  </p>
  
  <i class="ui huge facebook icon"></i>
  <i class="ui huge instagram icon"></i>
  <i class="ui huge spotify icon"></i>

</section>