{{> menu}}

<section class="ui center aligned middle aligned segment">
  <h1 class="ui header">
    Welcome {{fullname}} to the Playlist
  </h1>
  <p>
    A small app to let you compose playlists. Still under construction, check back soon for more interactivity!
  </p>
</section>